@font-face {
    font-family: Header;
    src: url(../font/Tagesschrift-Regular.ttf);
}

body {
    font-family: Header;
    background-color: #f3e6df; 
    color: #6a442e; 
}

.likeList{
    margin-bottom: 20px;
}

.likeList a button{
    color: #6a442e;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.likeList :hover a{
    color: #f1f1f1;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btnBrown {
    background-color: #a16c4a; 
    border-color: #a16c4a;
    color: white;
}

.btnBrown:hover {
    background-color: #8b5e3c; 
    border-color: #8b5e3c;
}

.btn-outline-primary {
    color: #a16c4a;
    border-color: #a16c4a;
    background-color: transparent;
}

.btn-outline-primary:hover {
    background-color: #a16c4a;
    color: white;
}

#likedCountBadge{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #a16c4a;
}

.likeList :hover #likedCountBadge{
    background-color: #dabca9;
}

.countryNone {
    width: 400px;
    display: block;
    background-color: #ffb5b5; 
    color: #d31313; 
    padding: 15px;
    border: 1px solid #dabca9; 
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.countryNone strong {
    font-size: 18px;
}

.info-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.info-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}


.info-content h2 {
    margin-bottom: 15px;
}

.info-content button {
    padding: 10px 20px;
    border: none;
    background-color: #a16c4a; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.info-content button:hover {
    background-color: #8b5e3c; 
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f1f1f1;
}

* {
    position: relative; 
    z-index: 2; 
}

.iconWeather{
    padding-top: 10px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

li{
    list-style-type: none;
}

.header {
    text-align: center;
    font-size: 50px;
    font-family: Header;
    font-weight: bold;
}

.title{
    text-align: center;
    font-size: 35px;
    font-family: Header;
}

.flag{
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #dabca9;
}

.text{
    font-size: 25px;
    font-family: Header;
    line-height: 30px;
}

.weather{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 107, 60, 0.4);
    border-radius: 20px;
    transition: transform 0.3s ease;
    padding: 10px;
}

.weather:hover{
    transform: scale(1.1);
}

.textCurrency{
    font-size: 25px;
    font-family: Header;
    line-height: 30px;
}

.btnMap{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 40px;
}

.btnMap a{
    border: 1px solid #dabca9;
    padding: 20px 30px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    font-family: Header;
    animation: bounce 0.5s infinite;
}

.btnMap a:hover{
    background-color: rgba(219, 219, 219, 0.4);
    color: black;
    border-radius: 10px;
    transform: scale(1.05);
    animation: none;
}

@keyframes bounce {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15); 
    }
    100% {
        transform: scale(1.1); 
    }
}

#photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
}

#photos img {
    width: 500px;
    padding: 10px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#photos img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#likeButton {
    display: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-family: Header;
    margin: 5px;
    background-color: rgba(222, 163, 80, 0.4);
    transition: all 0.3s ease-in-out;
    margin: 20px auto;
}

#likeButton:hover {
    background-color: #925e40;
    color: #fff;
    border-radius: 10px;
    transform: scale(1.1);
}

.custom-alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a16c4a;
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    font-size: 16px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.custom-alert.show {
    opacity: 1;
}

.custom-alert.hidden {
    opacity: 0;
    pointer-events: none;
}

